streamlit==1.32.2
pdfplumber==0.10.3
spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
speechrecognition==3.10.1
gtts==2.5.1
pydub==0.25.1
matplotlib==3.8.3
seaborn
pandas
numpy
PyPDF2
pyspark
requests==2.31.0
gdown==4.7.1
python-dotenv==1.0.1
email-validator==2.1.1
rich==13.6.0
huggingface_hub
scikit-learn
groq
